<p id="notice"><%= notice %></p>



<p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Details:</strong>
  <%= @service.details %>
</p>

<p>
  <strong>Image:</strong>
  <%=  image_tag @service.image %>
</p>

<p>
  <strong>Support required:</strong>
  <%= @service.support_required %>
</p>

<p>
  <strong>Minimum feature detail:</strong>
  <%= @service.minimum_feature_detail %>
</p>

<p>
  <strong>Price:</strong>
  <%= @service.price %>
</p>
<!--
<p>
  <strong>File upload:</strong>
  #@service.file_upload %>
</p>
-->
<p>
  <strong>address_map:</strong>
  <%= @service.address_map %>
</p>

<p>
  <strong>latitude:</strong>
  <%= @service.latitude %>
</p>
<p>
  <strong>longitude:</strong>
  <%= @service.longitude %>
</p>




<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>

