<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <!--========== devies   ==========-->
  <% if user_signed_in? %>
    Logged in as <strong><%= current_user.email %></strong>.
 
 <% end %>
   <!--========== devies   ==========-->
 <p class="notice"><%= notice %></p>
    
<!--========== devies   ==========-->
 <!--========== devies   ==========-->
 
</head>
<body>
  
   <!--========== HEADER ==========-->
  
        <header class="navbar navbar-inverse" >
            <!-- Navbar -->
            <
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="menu-container">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="toggle-icon"></span>
                        </button>

                        <!-- Logo -->
                        <div class="logo">
                            
                          <img class="logo-img logo-img-main" src="/assets/logo2.png" alt="Asentus Logo">
                            
                        </div>
                        <!-- End Logo -->
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                <nav class="navbar navbar-inverse">
                    
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand" href="#">3D printing services </a>
                  </div>
                  <ul class="nav navbar-nav">
                    <li class="active"><%= link_to ' Home', root_path %></li>
                   <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Learn
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><%= link_to ' How 3D Hubs works', home_how3dworks_path %> </li>
          <li><a href="#">How 3D Printing works</a></li>
          <li><a href="#">Knowledge Base</a></li>
        </ul>
                    
                  
                  </ul>
         <!--========== devies   ==========-->           
       <div class=" navbar-right">
                       <% if user_signed_in? %>
   
   <button class="btn btn-gray btn btn-default dropdown-toggle label-info"> <%= link_to 'Edit profile', edit_user_registration_path %> </button>
  <button class="btn btn-gray btn btn-default dropdown-toggle label-info">  <%= link_to "Logout", destroy_user_session_path, method: :delete %></button
  <%= link_to "Logout", destroy_user_session_path, method: :delete  %>
 <% else %>
  <button class="btn btn-gray btn btn-default dropdown-toggle label-info"> <%= link_to "Sign up", new_user_registration_path  %> </button>
   <button class="btn btn-gray btn btn-default dropdown-toggle label-info">  <%= link_to "Login", new_user_session_path %> </button>
 <% end %>  
      <!--========== devies   ==========-->        
      </div>
            
                </div>
    
              </nav>
                    <!-- End Navbar Collapse -->
                </div>
            </nav>
            <!-- Navbar -->
        </header>
        <!--========== END HEADER ==========-->
        
        




<%= yield %>
	<!-- footer top start -->
			<!-- ================ -->
			
			
			<!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
			<!-- ================ -->
			<footer id="footer" class="clearfix dark">

				<!-- .footer start -->
				<!-- ================ -->
				<div class="footer">
					<div class="container">
						<div class="footer-inner">
							<div class="row">
								<div class="col-md-6 col-md-offset-3">
									<div class="footer-content text-center padding-ver-clear">
										<div class="logo-footer"><img id="logo-footer" class="center-block" src="/assets/footer1.png" alt=""></div>
										<p>. Is the first company in Iraq to print parts with 3D technology with the design of some models that the customer wants to print .</p>
										<ul class="list-inline mb-20">
											<li><i class="text-default fa fa-map-marker pr-5"></i>baghdad , almansor</li>
											<li><a href="tel:+00 1234567890" class="link-dark"><i class="text-default fa fa-phone pl-10 pr-5"></i>+9647717958475</a></li>
											<li><a href="mailto:info@theproject.com" class="link-dark"><i class="text-default fa fa-envelope-o pl-10 pr-5"></i>noorubox@gmail.com</a></li>
										</ul>
									
										<div class="separator"></div>
										<p class="text-center margin-clear">Copyright © 2017 The Project by <a target="_blank" href="http://htmlcoder.me">3D printing services</a>. All Rights Reserved</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- .footer end -->

			</footer>
			<!-- footer end -->
        <!-- End Promo Section -->

</body>
</html>
